* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(28 28 28);
  color: rgb(196 196 196);
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter {
  flex-direction: column;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  border: 1px solid rgb(106 186 133);
  justify-content: center;
  align-items: center;

  .title {
    font-size: 2rem;
  }

  .count {
    font-size: 1.5rem;
  }
}

.kanban {
  display: flex;
  align-self: flex-start;
  flex: 1;
  gap: 2rem;
  padding: 4rem;

  .users {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    width: 30%;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      input {
        padding: 0.5rem;
        border-radius: 0.25rem;
      }
    }
  }

  .lists {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      input {
        padding: 0.5rem;
        border-radius: 0.25rem;
      }
    }

    .listsList {
      display: flex;
      gap: 1rem;
      justify-content: space-around;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &_title {
        font-size: 1.5rem;
      }
    }
  }

  .cardsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
